version: 2.1

orbs:
  orb-tools: circleci/orb-tools@8.20.0
  aws-ecr: circleci/aws-ecr@dev:alpha

jobs:
  pre-integration-checkout-workspace-job:
    executor:
      name: orb-tools/alpine
      resource-class: small
    steps:
      - checkout

      - persist_to_workspace:
          root: .
          paths: Dockerfile

# yaml anchors
integration-dev_filters: &integration-dev_filters
  branches:
    ignore: /.*/
  tags:
    only: /integration-.*/

integration-master_filters: &integration-master_filters
  branches:
    ignore: /.*/
  tags:
    only: /master-.*/

integration-post-steps: &integration-post-steps
  [run: "aws ecr delete-repository --repository-name aws-ecr-orb-${CIRCLE_SHA1:0:7} --force"]

workflows:
  lint-pack_validate_deploy-dev:
    jobs:
      - orb-tools/lint

      - orb-tools/pack:
          requires: [orb-tools/lint]

      - orb-tools/publish-dev:
          context: orb-publishing
          orb-name: circleci/aws-ecr
          requires: [orb-tools/pack]

      - orb-tools/trigger-integration-workflow:
          name: trigger-integration-dev
          ssh-fingerprints: 54:b8:9b:79:74:29:3e:dd:95:52:4d:4b:e6:8b:38:f2
          cleanup-tags: true
          requires: [orb-tools/publish-dev]
          filters:
            branches:
              ignore: master

      - orb-tools/trigger-integration-workflow:
          name: trigger-integration-master
          ssh-fingerprints: 54:b8:9b:79:74:29:3e:dd:95:52:4d:4b:e6:8b:38:f2
          cleanup-tags: true
          tag: master
          requires: [orb-tools/publish-dev]
          filters:
            branches:
              only: master

  integration-tests_deploy-prod:
    jobs:
      # triggered by non-master branch commits
      - pre-integration-checkout-workspace-job:
          name: pre-integration-dev
          filters: *integration-dev_filters

      - aws-ecr/build-and-push-image:
          name: integration-tests-dev
          context: orb-publishing
          attach-workspace: true
          workspace-root: workspace
          profile-name: testing
          repo: aws-ecr-orb-${CIRCLE_SHA1:0:7}
          create-repo: true
          tag: integration-dev,latest
          dockerfile: workspace/Dockerfile
          path: workspace
          extra-build-args: --compress
          filters: *integration-dev_filters
          post-steps: *integration-post-steps
          requires: [pre-integration-dev]

      # triggered by master branch commits
      - pre-integration-checkout-workspace-job:
          name: pre-integration-master
          filters: *integration-master_filters

      - aws-ecr/build-and-push-image:
          name: integration-tests-master
          context: orb-publishing
          attach-workspace: true
          workspace-root: workspace
          profile-name: testing
          repo: aws-ecr-orb-${CIRCLE_SHA1:0:7}
          create-repo: true
          tag: integration-master,latest
          dockerfile: workspace/Dockerfile
          path: workspace
          extra-build-args: --compress
          filters: *integration-master_filters
          post-steps: *integration-post-steps
          requires: [pre-integration-master]

      # patch, minor, or major publishing
      - orb-tools/dev-promote-prod:
          name: dev-promote-patch
          context: orb-publishing
          orb-name: circleci/aws-ecr
          ssh-fingerprints: 54:b8:9b:79:74:29:3e:dd:95:52:4d:4b:e6:8b:38:f2
          requires: [integration-tests-master]
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /master-patch.*/

      - orb-tools/dev-promote-prod:
          name: dev-promote-minor
          release: minor
          context: orb-publishing
          orb-name: circleci/aws-ecr
          ssh-fingerprints: 54:b8:9b:79:74:29:3e:dd:95:52:4d:4b:e6:8b:38:f2
          requires: [integration-tests-master]
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /master-minor.*/

      - orb-tools/dev-promote-prod:
          name: dev-promote-major
          release: major
          context: orb-publishing
          orb-name: circleci/aws-ecr
          ssh-fingerprints: 54:b8:9b:79:74:29:3e:dd:95:52:4d:4b:e6:8b:38:f2
          requires: [integration-tests-master]
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /master-major.*/
