version: 2.1
orbs:
  aws-ecr: circleci/aws-ecr@dev:<<pipeline.git.revision>>
  orb-tools: circleci/orb-tools@11.1
jobs:
  pre-integration-checkout-workspace-job:
    docker:
      - image: cimg/base:stable
    resource_class: small
    steps:
      - checkout
      - persist_to_workspace:
          root: .
          paths: [sample/Dockerfile]
  tag-ecr-image:
    docker:
      - image: cimg/base:stable
    parameters:
      repo:
        type: string
      source-tag:
        type: string
      target-tag:
        type: string
    steps:
      - aws-ecr/ecr-login
      - aws-ecr/tag-image:
          repo: <<parameters.repo>>
          source-tag: <<parameters.source-tag>>
          target-tag: <<parameters.target-tag>>
workflows:
  test-deploy:
    jobs:
      - pre-integration-checkout-workspace-job:
          name: pre-integration
          filters:
            tags:
              only: /.*/

      - aws-ecr/build-and-push-image:
          name: integration-tests-default-profile
          attach-workspace: true
          workspace-root: workspace
          repo: aws-ecr-orb-${CIRCLE_SHA1:0:7}-default-profile
          create-repo: true
          context: [CPE_ORBS_AWS]
          tag: integration,myECRRepoTag
          dockerfile: sample/Dockerfile
          path: workspace
          extra-build-args: --compress
          executor: amd64
          role-arn: arn:aws:iam::122211685980:role/CPE_ECR_ADMIN
          source-profile: default
          new-profile-name: assume-role-test
          post-steps:
            - run:
                name: "Delete repository"
                command: aws ecr delete-repository --repository-name --region us-west-2 aws-ecr-orb-${CIRCLE_SHA1:0:7}-default-profile --force
          platform: linux/amd64,linux/arm64
          filters:
            tags:
              only: /.*/
          requires: [pre-integration]

      - aws-ecr/build-and-push-image:
          name: integration-tests-pubic-registry
          attach-workspace: true
          workspace-root: workspace
          repo: aws-ecr-orb-${CIRCLE_SHA1:0:7}-public-registry
          create-repo: true
          context: [CPE_ORBS_AWS]
          tag: integration,myECRRepoTag
          dockerfile: sample/Dockerfile
          path: workspace
          extra-build-args: --compress
          executor: amd64
          public-registry: true
          post-steps:
            - run:
                name: "Delete repository"
                command: aws ecr-public delete-repository --region us-east-1 --repository-name aws-ecr-orb-${CIRCLE_SHA1:0:7}-public-registry --force
          platform: linux/amd64
          filters:
            tags:
              only: /.*/
          requires: [pre-integration]

      - aws-ecr/build-and-push-image:
          name: integration-tests-named-profile
          attach-workspace: true
          context: [CPE_ORBS_AWS]
          workspace-root: workspace
          profile-name: testing
          repo: aws-ecr-orb-${CIRCLE_SHA1:0:7}-named-profile
          create-repo: true
          tag: integration,myECRRepoTag
          dockerfile: sample/Dockerfile
          path: workspace
          extra-build-args: --compress
          region: ${AWS_REGION}
          executor: amd64
          filters:
            tags:
              only: /.*/
          requires: [pre-integration]

      - tag-ecr-image:
          name: integration-tests-tag-existing-image
          repo: aws-ecr-orb-${CIRCLE_SHA1:0:7}-named-profile
          context: [CPE_ORBS_AWS]
          source-tag: integration
          target-tag: latest
          post-steps:
            - run:
                name: "Delete repository"
                command: aws ecr delete-repository --repository-name aws-ecr-orb-${CIRCLE_SHA1:0:7}-named-profile --force
          filters:
            tags:
              only: /.*/
          requires:
            - integration-tests-named-profile

      - aws-ecr/build-and-push-image:
          name: integration-tests-skip-when-tags-exist-populate-image-<<matrix.executor>>
          attach-workspace: true
          context: [CPE_ORBS_AWS]
          workspace-root: workspace
          repo: aws-ecr-orb-${CIRCLE_SHA1:0:7}-skip-when-tags-exist-<<matrix.executor>>
          create-repo: true
          tag: integration,myECRRepoTag
          dockerfile: sample/Dockerfile
          path: workspace
          extra-build-args: --compress
          skip-when-tags-exist: true
          region: ${AWS_REGION}
          matrix:
            parameters:
              executor: ["amd64", "arm64"]
          filters:
            tags:
              only: /.*/
          requires: [pre-integration]

      - aws-ecr/build-and-push-image:
          name: integration-tests-skip-when-tags-exist-<<matrix.executor>>
          attach-workspace: true
          context: [CPE_ORBS_AWS]
          workspace-root: workspace
          repo: aws-ecr-orb-${CIRCLE_SHA1:0:7}-skip-when-tags-exist-<<matrix.executor>>
          tag: integration,myECRRepoTag
          dockerfile: sample/Dockerfile
          path: workspace
          extra-build-args: --compress
          skip-when-tags-exist: true
          aws-cli-version: 2.4.10
          region: ${AWS_REGION}
          post-steps:
            - run:
                name: "Delete repository"
                command: |
                  aws ecr delete-repository --repository-name aws-ecr-orb-${CIRCLE_SHA1:0:7}-skip-when-tags-exist-<<matrix.executor>> --force
          matrix:
            parameters:
              executor: ["amd64", "arm64"]
          filters:
            tags:
              only: /.*/
          requires:
            - integration-tests-skip-when-tags-exist-populate-image-amd64
            - integration-tests-skip-when-tags-exist-populate-image-arm64

      - orb-tools/lint:
          filters:
            tags:
              only: /.*/
      - orb-tools/pack:
          filters:
            tags:
              only: /.*/
      - orb-tools/review:
          filters:
            tags:
              only: /.*/
      - orb-tools/publish:
          orb-name: circleci/aws-ecr
          vcs-type: << pipeline.project.type >>
          pub-type: production
          requires:
            - orb-tools/lint
            - orb-tools/review
            - orb-tools/pack
            - integration-tests-default-profile
            - integration-tests-pubic-registry
            - integration-tests-skip-when-tags-exist-amd64
            - integration-tests-skip-when-tags-exist-arm64
            - integration-tests-named-profile
            - integration-tests-tag-existing-image
          github-token: GHI_TOKEN          
          context: orb-publisher
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
executors:
  amd64:
    machine:
      image: ubuntu-2004:202107-02
      docker_layer_caching: true
  arm64:
    machine:
      image: ubuntu-2004:202101-01
      docker_layer_caching: true
    resource_class: arm.medium
